body {
    background-image: url("crefobg2.jpg");
    font-size: large;
}

.crefo {
    font-size: large;
    font-weight: normal;
}

h1 {
    font-weight: bold;
    font-family: "Arial Black";
    color: aliceblue;
    margin-bottom: 0em;
}

h3 {
    color: darkblue;
    margin-bottom: 0em;
}

h4 {
    color: #00a0ff;
    margin-bottom: 0.3em;
    margin-top: 0em;
}

.comment-label {
    font-size: small;
    color: slategrey;
}
.comment-plus-button {
    width: 1.5em;
    height: 1.5em
}

.comment-new-comment {
    width: 30em;
    height: 1em;
    font-size: small;
}
